<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Home Screen</title>

    <link href="/css/default.css" rel="stylesheet" />
    <link href="/pages/home/home.css" rel="stylesheet" />
    <script src="/pages/home/home.js"></script>
</head>
<body>
    <!-- The content that will be loaded and displayed. -->
    <div class="fragment homepage">
        <header aria-label="Header content" role="banner">
            <h1 class="titlearea win-type-ellipsis">
                <span class="pagetitle">Home Screen</span>
            </h1>
            <button data-win-control="WinJS.UI.BackButton"></button>
        </header>
        <section aria-label="Main content" role="main">
            <button id="navToSplash">go to Splash</button>
            <button id="navToSettings">go to Settings</button>
        </section>
    </div>
</body>
</html>
