body {
}

.hidden {
    display: none;
}

.loading-container {
    text-align: center;
    width: 100%;
    height: 100%;
}

    .loading-container .win-ring {
        padding-top: 40%;
        width: 100px;
        height: 100px;
    }
