<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Splash Screen</title>

    <link href="/css/default.css" rel="stylesheet" />
    <link href="/view/splash/splash.css" rel="stylesheet" />
    <script src="/view/splash/splash.js"></script>
</head>
<body>
    <!-- The content that will be loaded and displayed. -->
    <div class="fragment homepage">
        <header aria-label="Header content" role="banner">
            <h1 class="titlearea win-type-ellipsis">
                <span class="pagetitle">Splash Screen</span>
            </h1>
        </header>
        <section aria-label="Main content" role="main">
            Loading...
        </section>
    </div>
</body>
</html>
